body{
    padding: 0;
    margin: 0;
}

html {
box-sizing: border-box;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* navbar */
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* button */
.btn {
    background-color: #16a7fa; /* Green background */
    color: white; /* White text */
    padding: 10px 20px; /* Top/Bottom and Left/Right padding */
    border: none; /* Remove border */
    border-radius: 25px; /* Rounded corners */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth background color change */
    border-top-right-radius:0%; 
    border-bottom-left-radius:0%; 
  }
  
  .btn:hover {
    border-bottom-left-radius:25%; 
    border-top-right-radius:25px; 
    transition: 1s;
    background-color: #000000; /* Darker green on hover */
  }
  
  .btn a{
    text-decoration: none;
    color: white;
  }

  /* intro */
  .intro{
    display: flex;
    justify-content: space-between;
    background-color: rgb(247, 247, 247);
    height: 80vh;
  }

.left{
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
}

  .left img{
    border: 1px solid transparent;
    overflow: hidden;
    border-radius: 50%;
    object-fit: contain;
    height: 100%;

  }

  .right{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-top:10% ;
    
  }

  .right h2{
    color: #16a7fa;
  }

  .right p{
    color: grey;
    font-size: 0.8rem;
  }